body{
    background-color: black; 
    /* * altera a cor de fundo */
    color: white;
    /* * muda a cor do texto */
    text-align: center;
    /* * muda o alinhamento do texto */
    margin: 0;
    /* * espaçamento externo */
}

h1{
    margin: 50px;
    padding: 30px ;
    border-radius: 20px;
}
main{
    background-color: rgb(96, 196, 118);
    padding: 20px;
}
.cabecalho{
    background-color: rgb(33, 63, 5);
    margin: 0;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    color: white;
    padding: 24px;
    font-size: 24px;
    text-decoration: none;
}